<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Coolor</h1>
        <p class="lead"><%= t('texts.sobre')%></p>
        <p class="lead">
          <%= link_to (fa_icon "", text: t('links.log_in'), class: "fa-2x") , '/auth/spotify', class: 'btn btn-lg btn-success btn-spotify' %>
        </p>
      </div>
      <footer class="mastfoot">
        <div class="inner">
          <p><%= t('links.desenvolvido_por')%> <a href="https://twitter.com/jonjts"  target="_blank">@jonjts</a></p>
        </div>
      </footer>
    </div>
  </div>
</div>